@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Quicksand:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/img/a2.jpg);
}

.home-icon img{
  filter: invert(100%);
  width: 30px; 
  height: auto;
  position: relative;
}
.container-password{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #fff;
    background-color: #2d2f41;
    width: 450px;
    height: 400px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    margin-top: 50px;
    margin: 20px;
}
 
.titulo{
    margin: 15px;
    font-size: 25px;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(180deg, #ae4af6, #ff98d1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#text-contrasena{
    color: white;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-radius: 5px;
    width: 95%;
}

.container-marco{
text-align: center;
padding: 20px;
}


.container-marco input{
    font-size: 1em;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
    border-radius: 5px;
    
}

.container-range label {
    font-size: 1em;
}

.checkbox {
    margin-top:10px;
    
}

.checkbox label{
    font-size: 1em;
}

.button {
    padding: 10px;
    background: linear-gradient(90deg, #ff5e9a, #ffb960);
    color: white;
    font-weight: light;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}
.container-range input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    margin: 7px;
    border-radius: 25px;
    height: 1px;
  }


  .container-range input[type="range"]::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 8px;
    animation: 0.2s;
    background: -webkit-linear-gradient(180deg,#24ff6d, #2f93f1);
    border-radius: 25px;
}

.container-range input[type="range"]::-webkit-slider-thumb {
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
    background-color: #0bff8d;
    box-shadow: 0 5px 25px #0bff8d;
    transform: translateX(10px);
  }